:root {
    --dark-color: #111111;
    --light-color: #ffffff;
    --primary-color: #6528d3;
    --primary-color-hover:#834de8;
    --secundary-dark-color: #29272a;
    --secundary-light-color: #ededed;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-color);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main" 
                         "footer";
}